openapi: 3.0.4
info:
  title: Maze Generator
  description: Maze Generator creates random mazes using recursive backtracking algorithm with customizable size and difficulty.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.9
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
- url: https://api.apiverve.com/
paths:
  /v1/maze:
    get:
      summary: Generate Maze
      description: Maze Generator creates random mazes using recursive backtracking algorithm with customizable size and difficulty.
      operationId: maze
      parameters:
      - name: width
        default: '15'
        in: query
        schema:
          type: number
        required: false
        description: Maze width (5-50)
        example: '15'
      - name: height
        default: '15'
        in: query
        schema:
          type: number
        required: false
        description: Maze height (5-50)
        example: '15'
      - name: difficulty
        default: medium
        in: query
        schema:
          type: string
        required: false
        description: 'Difficulty: easy, medium, hard'
        example: medium
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: string
                    description: data
              example:
                status: ok
                error: 
                data:
                  width: 15
                  height: 15
                  difficulty: medium
                  start:
                    x: 1
                    y: 1
                  end:
                    x: 29
                    y: 29
                  grid:
                  - - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                    - 0
                    - 1
                    - 0
                    - 1
                    - 1
                    - 1
                  - - 1
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 1
                    - 0
                    - 0
                    - 0
                    - 1
                  - - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                    - 1
                  html: "<html><head><title>Maze Puzzle</title><style>body {font-family: Arial, sans-serif; padding: 20px; text-align: center;}h1 {color: #333;}.maze {display: inline-grid; grid-template-columns: repeat(31, 19px); gap: 0; border: 2px solid #333;}.cell {width: 19px; height: 19px;}.wall {background: #333;}.path {background: #fff;}.start {background: #4CAF50;}.end {background: #F44336;}</style></head><body><h1>Maze</h1><p>Find your way from green to red!</p><div class='maze'><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell start'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell path'></div><div class='cell wall'></div><div class='cell path'></div><div class='cell path'></div><div class='cell end'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div><div class='cell wall'></div></div></body></html>"
                  image:
                    imageName: ae2955eb-7151-48c1-a90b-3e67c08c0c6e_puzzle.png
                    format: .png
                    downloadURL: https://storage.googleapis.com/apiverve.appspot.com/maze/ae2955eb-7151-48c1-a90b-3e67c08c0c6e_puzzle.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1764735759&Signature=ZSnW950f7ONQc6GAFmiCm7cQhPSS7f9CcxkckS1JoXhSp3vLSgN6eis0p1RTW9riNpGXI%2BlC3gjW%2FrrJcP1e9%2BV9z0ZFwpjVlzCNs%2BoXeMK2QbVCcd%2FIorvsiZRCzLknp1SKMJOcyqUChGVRsQN97q80BGvmKxsvMvWTXbzCvJF634sw8UvSrVBcrDY4FKLL75K%2BvOcIV8n9DExDdVKYXc%2B1NUxywL5uhmZPFe7vG6DcFIUwOsEJbgNi7Huw%2Fa%2BlC51sUT3wW9DoNPb9T04tB7pZ9gZaI9reLCvZUa%2BbWjHWeZYu3E4fz55lS9PaYILuOX5cjNa3ywDbxtCClSb8DA%3D%3D
                    expires: 1764735759356
                  solutionImage:
                    imageName: cc26ac88-ae60-4ea1-9b2d-bf81500b9a43_solution.png
                    format: .png
                    downloadURL: https://storage.googleapis.com/apiverve.appspot.com/maze/cc26ac88-ae60-4ea1-9b2d-bf81500b9a43_solution.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1764735759&Signature=XZmIPV5aYT%2BmCywJ%2BB14G%2B4Yj0YbyBFCjNkZNUELx6srU6Aik8VOXAlHB8WABV4n%2FDA7e%2FxdRZ63RhQxURrw6%2F3YF1nC3SEdB8OrSGT%2F8Ih3D%2F%2FeNOOmT7YO8n5xjSbdbRIgZVqzBZ6sel8V5%2BqqepDkGt7HAX3kQckWgPHNoYKqoc0ydcPBLsQI%2B5vjNuT7%2F08I8QBk2625%2B7IanYaaFvKlAkjD9WlUGn3eit%2FqQbGxGGp8YLSntgYyci7HUAJxuPtnMqMWzK10XgggDFqBNdA6G40qL7BkMx6sc7igtrI3LsjiwIueigNwNmPTn4VZ%2Bb%2FP1OszqFZMKrYIvjn1nw%3D%3D
                    expires: 1764735759882
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occured, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
- api_key: []
