openapi: 3.0.4
info:
  title: Maze Generator
  description: >-
    Maze Generator creates random mazes using recursive backtracking algorithm
    with customizable size and difficulty.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/maze:
    get:
      summary: Generate Maze
      description: Create a maze puzzle
      operationId: maze
      parameters:
        - name: width
          in: query
          schema:
            type: integer
          required: false
          description: Maze width
          example: 15
        - name: height
          in: query
          schema:
            type: integer
          required: false
          description: Maze height
          example: 15
        - name: difficulty
          in: query
          schema:
            type: string
          required: false
          description: Difficulty level
          example: medium
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  width: 15
                  height: 15
                  difficulty: medium
                  start:
                    x: 1
                    'y': 1
                  end:
                    x: 29
                    'y': 29
                  grid:
                    - - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 0
                      - 1
                      - 1
                      - 1
                    - - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 1
                    - - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                      - 1
                  html: >-
                    <html><head><title>Maze Puzzle</title><style>body
                    {font-family: Arial, sans-serif; padding: 20px; text-align:
                    center;}h1 {color: #333;}.maze {display: inline-grid;
                    grid-template-columns: repeat(31, 19px); gap: 0; border: 2px
                    solid #333;}.cell {width: 19px; height: 19px;}.wall
                    {background: #333;}.path {background: #fff;}.start
                    {background: #4CAF50;}.end {background:
                    #F44336;}</style></head><body><h1>Maze</h1><p>Find your way
                    from green to red!</p><div class='maze'><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    start'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell path'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell wall'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    path'></div><div class='cell path'></div><div class='cell
                    end'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div><div class='cell wall'></div><div class='cell
                    wall'></div></div></body></html>
                  image:
                    imageName: 24ed4b60-28c5-4aa9-9d18-0dec8c2df627_puzzle.png
                    format: .png
                    downloadURL: >-
                      https://storage.googleapis.com/apiverve/APIData/maze/24ed4b60-28c5-4aa9-9d18-0dec8c2df627_puzzle.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010378&Signature=bh3WmsCSjfVyE003mAyBjbWf07n4%2FjfI48d%2FpJpNAQEimQ113b%2F1%2FcovTUBbbMBOMy8ehlNHL9TDUcg7JNkfbIZL9ZePI0ioWQygbZro6ypdiHv0url3Iwh46nQbp6PqQ8KVUYF2%2FE7vCVEji15cJDK%2F5NJ61Y40ICPhbDGuxRBoDpvBuYS5mIYaOgrteLQpfYUL5qlSE%2F34ifcA8PTxfPjTNG4ixNmRELw6xqtcQs7RMFVTui6bm9eEA6a8D%2Br7h7NhUEnJv7kuJJVY1ieHKxg6yTJIWZUd%2FVIXrPRTJF3lgpgJFubXzAs5x01CVxEGl%2B2cUiG4u4gB%2F4ILITSJsw%3D%3D
                    expires: 1766010378634
                  solutionImage:
                    imageName: 7d1c4b60-c228-47d1-9f8a-d8141d087cdc_solution.png
                    format: .png
                    downloadURL: >-
                      https://storage.googleapis.com/apiverve/APIData/maze/7d1c4b60-c228-47d1-9f8a-d8141d087cdc_solution.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010378&Signature=H7m2zOphZK6elU3niJ4BSJD%2FABqi%2BZ1cPKUfG8QJbd1fY3nyhVdD5wFAcGzvCN76kjtVg%2BwBlbIDr3QG6FhrBhll9eY2t3UnCioJQ6lqQZYRIaB%2FmURSUbeLEIg2PZvODwf3qgZmTSsH8kIiLynIgr3vvvJ%2FBzJFKt56OUZLo2eynqLVWz%2FiQbUCcZ%2F5C6auROc2nWvhoPgV1xAwKEYlNCyFnHXbtTbBiBMqmk7n7SXg3l3ijQGuop8WYWPoAdI0%2FqQcREz5HwTdFsOdsv7sfh2TusSpPzNUycR%2F%2B6KlwWduiB0TKYAZSrmn5GYsDHxF%2BxjgNT5xaT02%2FFvelOb5mw%3D%3D
                    expires: 1766010378983
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
